* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

/* #header{
    width: 100%;
    height: 100vh;
    background-image:url(./abramov-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
} */
#header h1 {
  font-size: 2rem;
}

#header span {
  color: red;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 70px;
}

.nav-container h1,span{
  letter-spacing: -2px;
}
#header ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

#header ul li {
  margin: 0 10px;
  color: white;
}

#header ul li a {
  color: white;
  font-size: 1.15rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

#header ul li a:hover {
  color: red;
  transition: all 0.3s ease-out;
}

/* Contact */
.contact-container{
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 10rem;
  justify-content: space-evenly;
  /* gap: 5rem; */
  /* border:1px solid red; */
  /* min-height: 800px; */
}
.contact-form{
  display: flex;
  flex-direction: column;
}
.contact-title h1{
  font-size: 3.7rem;
}
.contact-email{
  display: flex;
  gap: 14px;
  /* border: 1px solid red; */
align-items: center;
margin-top: 40px;

}
.contact-email a{
  text-decoration: none;
  color: white  ;
}
.contact-email a:hover {
  text-decoration: underline;
}
.contact-email div {
  padding-left: 10px;
}
.contact-email p{
  font-size: 0.9rem;
  font-weight: 400;
}
.contact-email h1{
  font-size: 1.9rem;
  font-weight: 400;
}
.contact-email img{
  width: 80px;
  /* height: 30px; */
  object-fit: contain;
}
.contact-form h1{
  font-size: 2.5rem;
}
.contact-form-input{
  height: 3rem;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  width: 392px;
  background-color: rgb(215, 215, 215);
  font-size: 20px;
}
.contact-form .contact-form-input input:focus{
  outline: red;
}
textarea {
  resize: none;
  /* width: 100%; */
  border-radius: 10px;
  width: 392px;
  margin-top: 15px;
  background-color: rgb(215, 215, 215);
  font-size: 20px;
}
.contact-button button{
  width: 190px;
  white-space: nowrap;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* Footer */
.footer h1{
  font-size: 1rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: monospace;
}
.footer .copyright span{
  color: red;
}
.footer span{
color: red;
cursor: pointer;
}
.footer a{
color: red;
cursor: pointer;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-form {
    margin-top: 20px;
  }
  .contact-form-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact-button {
    width: 100%;
  }
  textarea {
    resize: none;
    /* width: 100%; */
    border-radius: 10px;
    width: 392px;
    margin-top: 15px;
    background-color: rgb(215, 215, 215);
    font-size: 20px;
}
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
  }
  textarea {
    resize: none;
    /* width: 100%; */
    border-radius: 10px;
    width: 392px;
    margin-top: 15px;
    background-color: rgb(215, 215, 215);
    font-size: 20px;
}
}