@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: white;
}

/* #header{
    width: 100%;
    height: 100vh;
    background-image:url(./abramov-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
} */

#header h1 {
    font-size: 2rem;
}

#header span {
    color: red;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    height: 70px;
}

.nav-container h1,
span {
    letter-spacing: -2px;
}

#header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

#header ul li {
    margin: 0 10px;
    color: white;
}

#header ul li a {
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#header ul li a:hover {
    color: red;
    transition: all 0.3s ease-out;
}

.experience {
    padding: 20px;
}
.experience h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    padding-left: 35rem;
}
.experience h2 span{
    color: red;
}
.exp-container {
    background-color: #f5f5f50a;
    padding: 20px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
  }
  
  .exp-container:hover {
    opacity: 0.8;
  } 
.exp-container h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rebeccapurple;
}

.title-conatiner {
    font-weight: bold;
    margin-bottom: 5px;
    color: brown;
}
.duration-container{
    color: #77a82d;
    margin-bottom: 10px;
    font-size: 10px;
}
.footer h1{
    font-size: 1rem;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 20px;
    font-weight: 100;
    font-family: monospace;
  }

  .footer .copyright span{
  color: red;
}
.footer span{
color: red;
cursor: pointer;
}
.footer a{
color: red;
cursor: pointer;
}






/* Mobile Responsive Styles */
/* @media (max-width: 600px) {
    .exp-container {
        padding: 10px;
    }

    .exp-container h3 {
        font-size: 18px;
    }

    .job-title {
        font-size: 16px;
    }

    .job-duration {
        font-size: 14px;
    }

    .job-description li {
        font-size: 14px;
    }
} */