@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: white;

}
#header h1 {
    font-size: 2rem;
}

#header span {
    color: red
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 70px;
}

.nav-container h1,
span {
    letter-spacing: -2px;
}

#header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

#header ul li {
    margin: 0 10px;
    color: white;
}

#header ul li a {
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#header ul li a:hover {
    color: red;
    transition: all 0.3s ease-out;
}
.project-card{
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 20px rgba(150, 134, 47, 0.496);
    margin: 10px;
}
.project-conatiner{
    display: flex;
    justify-content: space-around;
}    
.subtext-text button{
     font-size: 0.9rem;
     font-weight: 300;
     margin-top: 8px;
     margin-left: 62px;
     margin-right: 50px;
     border-radius: 5px;
     cursor: pointer;
     border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
     
}
.project-image{
    margin-top: 25px;
    width: 112px;
    border-radius: 125px;
}
hr{
    margin-left: 9px;
    margin-right: 10px;
}
.project-card h3{
    padding-left: 2.5rem;
    margin-right: 2.5px;
    margin-left: 2.5px;
}
.project-link button:hover{
    text-decoration: none;
    color: rgba(68, 0, 255, 0.901);

}
#header h2{
    padding-left: 42rem;
    font-size: 40px;
}
/* .project-image src{
    height: 10px;
    width: fit-content;
} */