* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: white;
  /* min-height: 100vh; */

}
#header h1 {
  font-size: 2rem;
}

#header span {
  color: red;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 70px;
}

.nav-container h1,span{
  letter-spacing: -2px;
}
#header ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

#header ul li {
  margin: 0 10px;
  color: white;
}

#header ul li a {
  color: white;
  font-size: 1.15rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

#header ul li a:hover {
  color: red;
  transition: all 0.3s ease-out;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.container-title {
  /* max-width: 340px; */
  height: 200px;
  /* border: 1px solid red; */
}
.connect-icons{
  /* border: 1px solid red; */
  margin-top: 10px;
}
.connect-icons img{
  width: 58px;
  margin-right:15px;
  cursor: pointer;
  /* border: 1px solid yellow; */
}
/* tooltip, hover */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align:center;
  top: 5rem;
  left: -0.5rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container-title p {
  font-size: 3.76rem;
  font-weight: 800;

}
.container-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.connect{
  /* border: 1px solid red; */
  margin-top: 120px;
  /* padding-left: 5px; */
}
.container-left .connect p{
  font-size:1.9rem;
  font-weight: 800;
  /* margin-left: 20px; */
  /* border: 1px solid blue; */
}
.home-image img {
  width: 500px;
  height: 500px;
  /* border: 1px solid red; */
  border-radius: 100%;
  
}

.container-title .name {
  color: red;
}

.about-me-section {
  margin: 0 auto;
  max-width: 1300px;
  padding: 140px 0;
  background-color: #080808;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.about-me-section h2 {
  font-size: 56px;
  color: white;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}
.about-me-section p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
}

.about-me-section:hover p {
  opacity: 0.9;
}

.about-me-section .name {
  font-weight: bold;
  color: red;
}

.about-me-section .profession {
  color: darkblue;
}

.about-me-section p:last-child {
  margin-bottom: 0;
}
.footer h1{
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: monospace;
}
.footer span{
   color: red;
   cursor: pointer;
}
.footer a{
  color: red;
  cursor: pointer;
}
@media (max-width: 768px) {
  body {
    background: #000000;
    color: #ffffff;
  }

  .container {
    flex-direction: column;
  }

  .container-title {
    margin-top: 0;
  }

  .home-image img {
    width: 70%;
    height: auto;
  }

  .about-me-section {
    margin: 0;
    padding: 50px 10px;
    border-radius: 0;
    box-shadow: none;
  }

  .about-me-section h2 {
    font-size: 36px;
  }

  .about-me-section p {
    font-size: 16px;
  }
  .container-left .connect p{
  margin-top: 200px;
  }
}
